

body {
   font-family: helvetica, Georgia, "Times New Roman", Times, serif;
   color: black;
   background-color: white;
}

#projecttitle {	
	font-size: 120%; 
	text-align: center;
}




/*keep rest of page away*/
#content {clear:left; padding-top:5%; padding-left: 1em;}

